header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.logo {
  width: 10rem;
  height: 10rem;
  background-image: url(../img/rocket.svg);
  background-size: contain;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: bold;
  background-color: lightpink;
  text-align: center;
}

.quotes {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  background-color: coral;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  outline: 1px solid grey;
}

h1 {
  margin: 0;
  padding: 20px 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center; 
}

p {
  margin: 0;
  padding: 5px 15px 5px 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}